body {
    background-color: rgb(63, 92, 95);
  } /* Cor de fundo do corpo */
  
  h1 {
    color: rgb(152, 224, 35);
    text-align: center; /* Alinhamento do texto para o centro */
  }

  #card {
    background-color: rgb(255, 255, 255); /* Cor de fundo do cartão */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    margin: 20px; /* Margem externa */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra do cartão */
    max-width: 600px; /* Largura máxima do cartão */
    text-align: center; /* Alinhamento do texto para o centro */
  }
  #card h1 {
    font-family: verdana, sans-serif; /* Fonte do título */
    font-weight: bold; /* Negrito */
    font-size: 30px; /* Tamanho da fonte do título */
    color: rgb(0, 255, 195); /* Cor do texto do título */
  }
  
  p {
    font-family: verdana, sans-serif; /* Fonte do parágrafo */
    font-weight: bold; /* Negrito */
    font-size: 20px; /* Tamanho da fonte do parágrafo */
    color: rgb(150, 105, 105); /* Cor do texto do parágrafo */
    text-align: center; /* Alinhamento do texto para o centro */
  }
  img {
    max-width: 500px; /* A imagem não será maior que o contêiner */
    height: 100%; /* Mantém a proporção da imagem */
  }
  
  